.login {
  @extend .v-align--middle;
  background: $white;
}

.login__logo {
  width: 40px;
  height: 40px;
  margin: 0 auto 35px;
  background-image: url('../img/logo.png');
  background-size: cover;
}
