$black:             #000000;
$white:             #FFFFFF;

$grey--light:       #EEEEEE;
$grey--medium:      #A3A3A1;
$grey--dark:        #404040;

$red:               #F16745;
$yellow:            #FFC65D;
$green:             #7BC8A4;
$blue:              #4CC3D9;
$purple:            #93648D;

$select-yellow:     #FEFECA;
